.system-planets{
    text-align: center;
    margin: 50px;      
}
.system-planets img{
    width: 400px;
    height: 395px;
}
h1{
    text-align: center;
    font-size: 50px;
    margin: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
    margin: 50px;
    color: rgb(151, 143, 27);
}
.mercury-planet{
    font-size: 38px;
    text-align: center;
    margin: 50px;     
}
.mercury-planet img{
    width: 300px;
    height: 300px;
} 
.mercury-planet h3,
.mercury-planet p{
    text-align: left;
}
.venus-planet{
    font-size: 38px;
    text-align: left;
    margin: 50px; 
}
.venus-planet img{
    width: 387px;
    height: 387px;
} 
.venus-planet h3{
    text-align: right;
}
.venus-planet p{
    text-align: left;
}
.earth-planet{
    font-size: 38px;
    text-align: right;
    margin: 50px;  
}
.earth-planet img{
    width: 420px;
    height: 400px;
}
.earth-planet h3,
.earth-planet p{
    text-align: center;
}
.mars-planet{
    font-size: 37px;
    text-align: center;
    margin: 50px;
}
.mars-planet img{
    width: 400px;
    height: 400px;
}
.mars-planet h3,
.mars-planet p{
    text-align: left;
}
.jupiter-planet{
    font-size: 28px;
    text-align: center;
    margin: 50px;  
}
.jupiter-planet img{
    width: 866px;
    height: 467px;
}
.jupiter-planet h3,
.jupiter-planet p{
    text-align: center;
}
.saturn-planet{
    font-size: 28px;
    text-align: center;
    margin: 50px;  
}
.saturn-planet img{
    width: 811px;
    height: 420px;
  }
.saturn-planet h3{
    text-align: center;
}
.saturn-planet p{
    text-align: left;
}
.uranus-planet{
    font-size: 25px;
    text-align: left;
    margin: 50px; 
}
.uranus-planet img{
    width: 435px;
    height: 452px;
}
.uranus-planet h3{
    text-align: right;
}
.uranus-planet p{
    text-align: left;
}
.neptune-planet{
    font-size: 27px;
    text-align: right;
    margin: 50px;  
}
.neptune-planet img{
    width: 435px;
    height: 452px;
}
.neptune-planet h3,
.neptune-planet p{
    text-align: left;
}
.pluto-planet{
    font-size: 28px;
    text-align: center;
    margin: 50px;  
}
.pluto-planet img{
    width: 300px;
    height: 300px;
}
.pluto-planet h3,
.pluto-planet p{
    text-align: center;
}